Package: com.xsf1re.bnk2youbankbypass
Name: BNK2YouBankBypass
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
