Package: com.xsf1re.whowhobypass
Name: WhoWhoBypass
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
